
__history/
__pycache__/
__recovery/
_Chutzpah*
_deps
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
!?*.[Cc]ache/
!.axoCover/settings.json
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!**/[Pp]ackages/build/
.*crunch*.local.xml
.axoCover/*
.builds
.cr/personal
.fake/
.history
.history/
.ionide
.ionide/
.localhistory/
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.tmp_versions/
.vs/
.vscode/*
.vshistory/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*-prefix/
*.[Cc]ache
*.[oa]
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.~*
*.a
*.apk
*.app
*.app/
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bak
*.bak*
*.bim_*.settings
*.bim.layout
*.binlog
*.bpi
*.bpl
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.cfg
*.cgi
*.cmd
*.code-workspace
*.compiled
*.coverage
*.coveragexml
*.d
*.dbg
*.dbmdl
*.dbproj.schemaview
*.dcp
*.dcu
*.dll
*.dotCover
*.DotSettings.user
*.drc
*.dres
*.dsk
*.dsp
*.dsw
*.dSYM/
*.dylib
*.e2e
*.elf
*.exe
*.exp
*.gch
*.GhostDoc.xml
*.gpState
*.hex
*.hpp
*.i*86
*.idb
*.identcache
*.ilk
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ko
*.la
*.lai
*.ldf
*.lib
*.lo
*.local
*.log
*.lps
*.lrs
*.lrt
*.map
*.mdf
*.meta
*.mm.*
*.mod
*.mod*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.o
*.obj
*.ocx
*.odx.cs
*.opendb
*.opensdf
*.opt
*.or
*.out
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.ppu
*.projdata
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.res
*.rptproj.bak
*.rptproj.rsuser
*.rsj
*.rsm
*.rsp
*.rst
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.slo
*.smod
*.snupkg
*.so
*.so.*
*.stat
*.su
*.suo
*.svclog
*.tds
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.tss
*.tvsconfig
*.user
*.userosscache
*.userprefs
*.vbp
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*.x86_64
*.xsd.cs
**/[Pp]ackages/*
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
*~
*Resource.rc
~$*
$tf/
AppPackages/
artifacts/
ASALocalRun/
AutoTest.Net/
Backup*/
backup/
BenchmarkDotNet.Artifacts/
**/build/
bld/
BundleArtifacts/
ClientBin/
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
compile_commands.json
coverage*.info
coverage*.json
coverage*.xml
csx/
CTestTestfile.cmake
dkms.conf
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
FakesAssemblies/
FodyWeavers.xsd
fp.cfg
fp.dsk
fp.ini
Generated_Code/
Generated\ Files/
healthchecksdb
install_manifest.txt
ipch/
lib/
Makefile
MigrationBackup/
Mkfile.old
Module.symvers
modules.order
modules/
mono_crash.*
nCrunchTemp_*
node_modules/
nunit-*.xml
OpenCover/
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
ScaffoldingReadMe.txt
ServiceFabricBackup/
StyleCopReport.xml
Testing
TestResult.xml
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
