name = "longest_collatz_sequence"
version = "0.1.0"
license = "license"
author = "È˜tefan Alecu"
[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false
[install]
library = false
[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"

